.contact-all {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80vw;
}

.contact-right {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5vh 40px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-h2 {
    color: grey;
    font-size: 15px;
}

.contact-h1 {
    font-size: 60px;
}

.contact-form {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-form input::placeholder,
.contact-form .message::placeholder {
    color: white;
    font-size: 20px;
    font-family: 'bpg_glahoregular';
}

.contact-form .input {
    color: white;
    background-color: black;
    border: none;
    border-left: 1px solid white;
    font-size: 25px;
    width: 40vw;
    padding: 5px 10px;
    margin: 1vh 0;
}

.contact-form .message {
    margin-top: 2vh;
    min-width: 40vw;
    max-width: 40vw;
    max-height: 11vh;
    min-height: 11vh;
    font-family: 'bpg_glahoregular';
    resize: none;
}


/* .contact-form-underline { Bon sur petit ecran faudrait le faire en js mais flemme
    height: 1px;
    width: 635.2px;
    background-color: white;
    margin-right: 0;
    margin-bottom: 2vh;
} */

.contact-left {
    width: 20%;
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-underline {
    margin-top: -5px;
    background-color: white;
    height: 4px;
    width: 80px;
}

.contact-content{
    text-align: end;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ss{
    text-decoration: underline;
    color: rgb(255, 111, 111);
}
.c-middle{
    height: 100%;
    width: 1px;
    background-color: white;
    margin: 20vh 0;
}
.contact-right img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 2vh;
}
.contact-right .colin, .contact-right .damas{
    background-color: whitesmoke;
    border-radius: 10%;
    margin: 2vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgb(255, 111, 111, 0.2);
}
.teachers{
    display: flex;
    flex-direction: row;
}
.colin-txt, .damas-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}
.references-title{
    margin-top: 5vh;
    color: grey;
    
}
.blabl{
    margin-top: 20px;
}